*{
	margin: 30px;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');


html {
	background-color: #83A69F;
	width: auto;
	height: auto;
	}

body {
	padding-top: 3%;
	background-color:#AC1032;
	width: 95%;
	height: 100%;
	font-family: 'Comfortaa', cursive;
	align-content: center;
	border-radius: 12.5%;
}

.grid-container{
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 2%;
	border-radius: 12.5%;
	display: grid;
	width: 98%;
	grid-template-columns: 25% 25% 25%;
	grid-column-gap: 7%;
	background-color: #5C6769;
	font-family: 'Comfortaa', cursive;
}

.grid-item{
	margin-left: 18%;
	background-color: #83A69F;
	border: 5px solid #E3DCD2;
	border-radius: 50%;
	max-height: 80%;
	min-width: 100%;
	font-family: 'Comfortaa', cursive;
	color: #333;
	text-align: center;
	align-items: center;
}
h1{
	font-family: 'Comfortaa', cursive;
	color: #E3DCD2;
	text-align: center;
}

h2{
	font-family: 'Comfortaa', cursive;
	color: #9A3324;
	text-align: center;
}

h3{
	font-family: 'Comfortaa', cursive;
	color: #9A3324;
	text-align: center;
}

h6{
	font-family: 'Comfortaa', cursive;
	color: #FFFFFF;
	text-align: center;
}

p{
	font-family: 'Comfortaa', cursive;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	}
